<!--Search bar fragment html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Podypus - a podcast player</title>
</head>
<body>
    <!--/*-->
    <!-- @thymesVar id="channel" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.Channel" -->
    <!--*/-->
    <th:block th:fragment="channelDetails">
        <div class="container">
            <div class=""
        </div>
    </th:block>
</body>
</html>
