<!--Search bar fragment html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>Podypus - a podcast player</title>
</head>
<body>
<!--/*-->
<!-- @thymesVar id="chanlist" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.Channel[]" -->
<!--*/-->
<th:block th:fragment="channelList">
    <div class="container">
        <ul th:each="chan : ${chanlist}" class="list-group">
            <li th:text="${chan.getTitle()}" th:attr="data-channel-id=${chan.getChannel_id()} "
                class="list-group-item podypus-channel"></li>
        </ul>
    </div>
</th:block>

<!--/*-->
<!-- @thymesVar id="channel" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.Channel" -->
<!--*/-->
<th:block th:fragment="channelDetails">
    <div class="container" th:if="${channel != null}">
        <div class="media">
            <!--Image-->
            <th:block th:if="${channel.getImageUrl() != null and channel.getImageUrl().length() > 0}">
                <img class="mr-5 img-fluid" style="height: 256px;width: 256px;" th:src="${channel.getImageUrl()}">
                <div th:text="${channel.getImageUrl().length()}">len</div>
            </th:block>
            <th:block th:unless="${channel.getImageUrl() != null and channel.getImageUrl().length() > 0}">
                <img class="mr-4 img-fluid" style="height: 256px;width: 256px;"
                     th:src="${channel.getImage().getChannelImageUrl()}">
            </th:block>
            <!--Title-->
            <div class="media-body">
                <h5 class="mt-0" th:text="${channel.getTitle()}">Title</h5>
                <!--Description-->
                <div th:text="${channel.getDescription()}">Description</div>
                <!--Episode List-->
                <table class="table table-striped" id="table_episode">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Download Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="episode : ${channel.getEpisodeList()}">
                        <th:block th:if="${episode.getEnclosure() != null}"> <!-- Ignore episodes with no valid links -->
                            <tr class="podypus-episode" th:attr="
                                    data-episode-url=${episode.getEnclosure().getUrl()},
                                    data-episode-title=${episode.getTitle()},
                                    data-episode-id=${episode.getEpisode_id()},
                                    data-episode-image-url=${episode.getImage().getHref()}
                                    ">
                                <!-- Image -->
                                <td>
                                    <th:block th:if="${episode.getImage() != null}">
                                        <img class="mr-3 img-fluid" style="height: 64px;width: 64px;"
                                             th:src="${episode.getImage().getHref()}">
                                    </th:block>
                                    <th:block th:unless="${episode.getImage() != null}">
                                        <th:block th:if="${channel.getImageUrl() != null}">
                                            <img class="mr-3 img-fluid" style="height: 64px;width: 64px;"
                                                 th:src="${channel.getImageUrl()}">
                                        </th:block>
                                        <th:block th:unless="${channel.getImageUrl() != null}">
                                            <img class="mr-3 img-fluid" style="height: 64px;width: 64px;"
                                                 th:src="${channel.getImage().getChannelImageUrl()}">
                                        </th:block>
                                    </th:block>
                                    <!-- Title -->
                                    <span th:text="${episode.getTitle()}">Episode Title</span>
                                </td>
                                <!-- Duration -->
                                <td th:text="${episode.getDuration()}">Episode Length</td>
                                <!-- Release Date-->
                                <td th:text="${episode.getIsoPubDate()}">Episode Release Date</td>
                                <!-- Download Link -->
                                <td><a th:href="${episode.getEnclosure().getUrl()}">Download</a></td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</th:block>
</body>
</html>
