<!--Search bar fragment html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Podypus - a podcast player</title>
</head>
<body>
    <!--/*-->
    <!-- @thymesVar id="chanlist" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.Channel[]" -->
    <!--*/-->
    <th:block th:fragment="channelList">
        <div class="container">
            <ul th:each="chan : ${chanlist}" class="list-group">
                <li th:text="${chan.getTitle()}"class="list-group-item"></li>
            </ul>
        </div>
    </th:block>
</body>
</html>
