<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Podypus - a podcast player - Episodes</title>
</head>
<body>
<!--/*-->
<!-- @thymesVar id="episodes" type="java.util.List<is.hi.hbv501g.team21.Podypus.Persistences.Entities.Episode>" -->
<!--*/-->
    <div th:fragment="episodeList">
        <div th:if="episodes != null">
            <div class="container">
                <div class="card" th:each="episode, iterStat: ${episodes}">
                    <div class="card-body">
                        <div th::if="episode.getEnclosure() == null">
                            <p th:text="${episode.getLink()}"></p>
                        </div>
                        <div th::unless="episode.getEnclosure() == null">
                            <p th:text="${episode.getEnclosure().getUrl()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>