<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" />
    <title>Welcome to Podypus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--/*-->
<!-- @thymesVar id="user" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.User" -->
<!--*/-->
<th:block th:fragment="signup">
<h1>User SignUp</h1>
    <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <p>Username: <input placeholder="Choose username" type="text" name="username" th:value="*{username}" /></p>
        <p>Password: <input placeholder="Password" type="password" name="password" th:value="*{password}" /></p>
        <p>E-mail: <input placeholder="E-mail Address" type="text" th:field="*{email}" /></p>
        <p><input type="submit" value="Sign up" /></p>
    </form>
</th:block>

<!--/*-->
<!-- @thymesVar id="user" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.User" -->
<!--*/-->
<th:block th:fragment="login">
    <h1>User Login</h1>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <p>Username: <input placeholder="Username" type="text"  id="username" th:field="*{username}" /></p>
        <p>Password: <input placeholder="Password" type="password" th:field="*{password}" /></p>
        <p><input type="submit" value="Login" /></p>
    </form>
    <span>Don't have an account? <a href="/signup">Register here!</a></span>
</th:block>

<!--/*-->
<!-- @thymesVar id="user" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.User" -->
<!--*/-->
<th:block th:fragment="changePassword">
<h1>Change User Password</h1>
    <form action="#" th:action="@{/login/changePassword}" th:object="${user}" method="post">
        <p>E-mail: <input placeholder="E-mail Address" type="text" id="email" th:field="*{email}" /></p>
        <p>New password: <input placeholder="New password" type="password" id="newPassword" th:field="*{password}" /></p>
        <p><input type="submit" value="Reset" /></p>
    </form>
</th:block>
<th:block th:fragment="noUser">
    <p>There is no user with that username, sorry.</p>
    <button type="submit" class="btn-primary">Try again</button>
</th:block>
<th:block th:fragment="userExists">
    <p>There is already a user signed up with this e-mail address.</p>
    <a href="/signup"><button>Try Again</button></a>
    <!--<button type="submit" class="btn-primary" href="/login">Try again</button>-->
    <a href="login/changePassword"><button>Change Password</button></a>
    <!--<button type="submit" class="btn-primary">Change Password</button>-->
</th:block>
<th:block th:fragment="notExists">
    <p>There is no user connected to that e-mail address.</p>
    <a href="/login/changePassword"><button>Try Again</button></a>
</th:block>
<th:block th:fragment="unameExists">
    <p>There is already a user signed up with this username.</p>
    <a href="/signup"><button>Try Again</button></a>
</th:block>
</body>
</html>