<!--Search bar fragment html-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Podypus - a podcast player</title>
</head>
<body>
    <div th:fragment="search">
        <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg 8">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <!--Image dissapears when navbar added, feature will be fixed later-->
                            <!--<div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>-->
                            <div class="col">
                                <input id="searchTxt" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for podcast">
                            </div>
                            <div class="col-auto">
                                <button id="searchBtn" class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--/*-->
    <!-- @thymesVar id="results" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.SearchResult" -->
    <!-- @thymesVar id="channel" type="is.hi.hbv501g.team21.Podypus.Persistences.Entities.Channel" -->
    <!--*/-->
    <th:block th:fragment="searchResults">
        <div th:if="${results != null}">
            <h1 th:text="${results.getResultCount()}">0</h1>
            <div class="container" style="width:80%; display: grid; grid-template-columns: repeat(5, 1fr);" th:if="${results != null}">
                <div class="card" th:each="item, iterStat: ${results.getResults()}">
                    <img class="card-img-top" th:src="${item.getArtworkUrl600()}" />
                    <div class="card-body">
                        <div class="card-title" th:text="${item.getCollectionName() }">Podcast Name</div>
                        <div class="card-subtitle" th:text="${item.getArtistName() }">Artist Name</div>
                        <div class="card-subtitle" th:text="${item.getReleaseDate() }">Last updated</div>
                        <a class="card-link btn btn-light" th:href="${item.getFeedUrl()}">RSS</a>
                        <a class="card-link btn btn-light"
                           th:href="@{/subscribe/{nr}(nr=${iterStat.index})}">Subscribe</a>
                        <div th:if="${channel != null}">
                            <div th:each="episode: ${channel.getEpisodeList()}">
                                <div th:if="${episode.getEnclosure() != null}">
                                    <a id="ply" class="card-link btn btn-light"
                                       th:href="${episode.getEnclosure().getUrl()}">Play first episode</a>
                                </div>
                                <div th:unless="${episode.getEnclosure() != null}">
                                    <a id="ply" class="card-link btn btn-light"
                                       th:href="${episode.getLink()}">Play episode</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${channel != null}">
            <div class="container">
                <div class="card" th:each="episode: ${channel.getEpisodeList()}">
                    <div class="card-body">
                        <div th:if="${episode.getEnclosure() != null}">
                            <p th:text="${episode.getEnclosure().getUrl()}"></p>
                        </div>
                        <div th:unless="${episode.getEnclosure() != null}">
                            <p th:text="${episode.getLink()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
