/*Styleguide for the core website*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

#podypus-player {
    position: fixed;
    height: 80px;
    background-color: #78BAAC;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

body {
    margin-bottom: 4px;
    background-image: url("../img/podypus.png");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 46.1em;
    background-size: 10em;
}

.description {
    height: 120px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkbox-Played {
    display: table;
    top: 50px;
    position: relative;
    z-index: 2;
}
div.container {
    margin-top: 30px;
}

.card-title {
    font-weight: bold;
}
.text-center {
    margin-top: 10px;
}