/*The style guide for the navbar*/
.myNav{
    background: #78BAAC;
    margin-bottom: 20px;
}

.btn {
    color: white;
    background-color: #78BAAC;
    margin: 5px;
    box-shadow: none;
}

.btn:focus {
    background-color: #78BAAC;
    outline: none;
}

.btn:hover {
    background-color: #4B818D ;
}

.btn a {
    text-decoration: none;
    text-decoration: red;
}
