<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple feed example</title>
</head>
<body>
    <form action="#" th:action="@{/feed}" th:object="${query}" method="post">
        Search for feed:<br>
        <input type="text" id="query" th:field="*{term}"/>
        <input type="submit" value="Search"/>
    </form>
    <div th:if="${results != null}">
        <h1 th:text="${results.getResultCount()}">0</h1>
        <div th:each="item: ${results.getResults()}">
            <img th:src="${item.getArtworkUrl100()}"/>
            <div th:text="${item.getCollectionName() }">Podcast Name</div>
            <div th:text="${item.getArtistName() }">Artist Name</div>
            <div th:text="${item.getReleaseDate() }">Last updated</div>
        </div>
    </div>
</body>
</html>