<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Simple feed example</title>
</head>
<body>
    <form action="#" th:action="@{/feed}" th:object="${query}" method="post">
        <div class="form-group">
            <label>Search</label>
            <input type="text" id="query" th:field="*{term}"/>
        </div>
        <button type="submit" class="btn-primary">Submit</button>
    </form>

    <a href="/">Back to Home</a>

    <div th:if="${results != null}">
        <h1 th:text="${results.getResultCount()}">0</h1>
        <div class="container" style="width:30%; display: grid; grid-template-columns: repeat(3, 1fr);"
             th:if="${results != null}">
            <div class="card" th:each="item,iterStat : ${results.getResults()}">
                <img class="card-img-top" th:src="${item.getArtworkUrl600()}" />
                <div class="card-body">
                    <div class="card-title" th:text="${item.getCollectionName() }">Podcast Name</div>
                    <div class="card-subtitle" th:text="${item.getArtistName() }">Artist Name</div>
                    <div class="card-subtitle" th:text="${item.getReleaseDate() }">Last updated</div>
                    <a class="card-link btn btn-light" th:href="${item.getFeedUrl()}">RSS</a>
                    <a class="card-link btn btn-light"
                       th:href="@{/subscribe/{nr}(nr=${iterStat.index})}">Subscribe</a>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div th:if="${podcast != null}">
        <div class="container">
            <div class="jumbotron">
                <img class="image" th:src="${podcast.getImageUrl()}"/>
                <h1 class="display-4" th:text="${podcast.getTitle()}"></h1>
                <p class="lead" th:text="${podcast.getSummary()}"></p>
                <hr class="my-4">
                <p th:text="${podcast.getDescription()}"></p>
                <ul class="list-group" th:each="ep : ${podcast.getEpisodeList()}">
                    <li class="list-group-item" th:text="${ep.getTitle()}"></li>
                </ul>
                <p th:text="'Latest Episode: '${podcast.getEpisodeList()[0].getTitle()}"></p>
            </div>
        </div>
    </div>
    -->
</body>
</html>