<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podypus - Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/homeStyle.css" th:href="@{/css/homeStyle.css}"/>
</head>
<script type="text/javascript" src="../scripts/home.js"></script>
<body>
<nav class="myNav navbar navbar-expand-sm navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
    </ul>
</nav>
<div th:switch="${podcasts}">
    <h2 th:case="null">No podcasts yet!</h2>
    <div th:case="*">
        <h2>Podcasts</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Podcast Name</th>
                <th>Artist Name</th>
                <th>Last Updated</th>
                <th>Unsubscribe</th>
            </tr>
            </thead>
            <tbody>
            <tr class="card-body" th:each="podcast : ${podcasts}">
                <td><img class="card-img-top" th:src="${podcast.getImageUrl()}" /></td>
                <td class="card-title" th:text="${podcast.getTitle() }">Podcast Name</td>
                <td class="card-subtitle" th:text="${podcast.getGenerator()}">Artist Name</td>
                <td class="card-subtitle" th:text="${podcast.getPubDate()}">Last Updated</td>
                <td><a th:href="@{/delete/{id}(id=${podcast.getId()})}">Unsubscribe</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/feed">
        <button class="btn">Add a new podcast</button>
    </a>
</div>
</body>
</html>