<!--Search page-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--Css-->
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/font-awesome/5.11.2/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/playerStyle.css"/>
        <link rel="stylesheet" href="/static/css/navbarStyle.css"/>
        <link rel="stylesheet" href="/static/css/homeStyle.css"/>
        <link rel="stylesheet" href="/static/css/userStyle.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
        <!--Js-->
        <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/src/podypus.js"></script>
        <script type="text/javascript" src="/webjars/datatables/1.10.19/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/webjars/datatables/1.10.19/js/dataTables.dataTables.js"></script>
        <script type="text/javascript" src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.js"></script>
        <title>Podypus - a podcast player</title>
    </head>
    <body>
        <th:block>
            <!--Insert fragments into html-->
            <nav th:insert="fragments/Nav.html" :: navbar></nav>
            <div id="podypus-container" th:if="${authenticated}">
                <search th:insert="fragments/Search.html :: search"></search>
            </div>
            <div class="myTabs" th:unless="${authenticated}">
                <!--<login th:insert="fragments/Login.html :: login"></login>-->
              <div class="tabBar">
                <ul class="nav nav-pills" id="myTab" role="tablist" >
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#login">Login</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#signup">Signup</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#changePassword">Change Password</a> </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="login">
                        <login th:insert="fragments/Login.html :: login"></login>
                    </div>
                    <div class="tab-pane" id="signup">
                        <signup th:insert="fragments/Login.html :: signup"></signup>
                    </div>
                    <div class="tab-pane" id="changePassword">
                        <changepass th:insert="fragments/Login.html :: changePassword"></changepass>
                    </div>
                </div>
              </div>
            </div>
            <div id="podypus-player"></div>
            <!--Delete comment brackets below to see changes-->
            <!--<div th:insert="fragments/player.html :: player"></div>-->
        </th:block>
    </body>
</html>