<!--Search page-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--Css-->
        <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/font-awesome/5.11.2/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/playerStyle.css"/>
        <link rel="stylesheet" href="/static/css/navbarStyle.css"/>
        <link rel="stylesheet" href="/static/css/homeStyle.css"/>
        <!--Js-->
        <script type="text/javascript" src="/static/js/src/podypus.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <title>Podypus - a podcast player</title>
    </head>
    <body>
        <!--Insert fragments into html-->
        <nav th:insert="fragments/Nav.html" :: navbar></nav>
        <search th:insert="fragments/Search.html :: search"></search>
        <searchResults th:insert="fragments/Search.html :: searchResults"></searchResults>
        <div th:insert="fragments/episodes.html :: fragment"></div>
        <!--Delete comment brackets below to see changes-->
        <!--<div th:insert="fragments/player.html :: player"></div>-->
    </body>
</html>